<%- include("./partials/header") %>
<title>Aid | Causes & Stories </title>
<link rel="stylesheet" href="/stylesheets/cover-pic.css" />
<link rel="stylesheet" href="/stylesheets/causesnstories.css" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>

<div id="cover-pic" style="background-image: url(/images/cns.jfif)">
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div class="container" id="pic">
    <div id="pic-text-one">
      What we do at <b>Aid</b><span style="color: #ffb400">.</span>
    </div>
    <div id="pic-text-two">and how it touches people's lives !</div>
    <br />
    <a id="pic-button" class="btn btn-md" href="#causes">CAUSES</a>
    &nbsp;
    <a id="pic-button" class="btn btn-md" href="#stories">STORIES</a>
  </div>
</div>

<div class="container my-3" data-aos="fade-up" data-aos-duration="2500">
  <br />
  <br />
  <div id="causes" class="">
    <lord-icon
      src="https://cdn.lordicon.com//iltqorsz.json"
      trigger="loop"
      colors="primary:#ffb400,secondary:#242424"
      style="width: 70px; height: 70px"
    >
    </lord-icon
    >&nbsp; C A U S E S
  </div>
  <br />
  <hr />
  <br />
  <div  class="row justify-content-center mx-auto">
    <div class="col-12 col-lg-4 col-md-6 my-2">
      <div class="card p-3 text-center border-0">
        <div class="hover-outer-box my-2 ">
          <img
            src="https://preview.colorlib.com/theme/aid/images/causes-1.jpg"
            class="card-img-top "
            alt=""
            srcset=""
          />
          <div class="hover-inner-box">
            <div class="hover-content"></div>
          </div> 
        </div>
        <h4 class="card-title">Adoption & Fostering </h4>

      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-6 my-2">
      <div class="card p-3 text-center border-0">
        <div class="hover-outer-box my-2 ">
          <img
            src="https://images.unsplash.com/photo-1560885673-2cdc12600ec8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjd8fHBvb3J8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
            class="card-img-top "
            alt=""
            srcset=""
          />
          <div class="hover-inner-box">
            <div class="hover-content"></div>
          </div>
        </div>
        <!-- <img src="/images/c1.jpg" class="card-img-top " alt="..."> -->
        <h4 class="card-title">Endorsing Human Rights</h4>

      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-6 my-2">
      <div   class="card p-3 text-center border-0">
        <div class="hover-outer-box my-2 ">
          <img
            src="https://preview.colorlib.com/theme/aid/images/causes-3.jpg"
            class="card-img-top "
            alt=""
            srcset=""
          />
          <div class="hover-inner-box">
            <div class="hover-content"></div>
          </div>
        </div>
        <!-- <img src="/images/c1.jpg" class="card-img-top " alt="..."> -->
        <h4 class="card-title">Medication and Crisis Services</h4>

      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-6 my-2">
      <div  class="card p-3 text-center border-0">
        <div class="hover-outer-box my-2 ">
          <img
            src="https://images.unsplash.com/photo-1522661067900-ab829854a57f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fGVkdWNhdGlvbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
            class="card-img-top "
            alt=""
            srcset=""
          />
          <div class="hover-inner-box">
            <div class="hover-content"></div>
          </div>
        </div>
        <h4 class="card-title">Child Care and Education</h4>

      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-6 my-2">
      <div  class="card p-3 text-center border-0">
        <div class="hover-outer-box my-2 ">
          <img
            src="https://preview.colorlib.com/theme/aid/images/causes-5.jpg"
            class="card-img-top "
            alt=""
            srcset=""
          />
          <div class="hover-inner-box">
            <div class="hover-content"></div>
          </div>
        </div>
        <!-- <img src="/images/c1.jpg" class="card-img-top " alt="..."> -->
        <h4 class="card-title">Youth Leadership</h4>

      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-6 my-2">
      <div class="card p-3 text-center border-0">
        <div class="hover-outer-box my-2 ">
          <img
            src="https://images.unsplash.com/photo-1559294824-627e9738df81?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8d29ybGQlMjBwZWFjZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
            class="card-img-top "
            alt=""
            srcset=""
          />
          <div class="hover-inner-box">
            <div class="hover-content"></div>
          </div>
        </div>
        <!-- <img src="/images/c1.jpg" class="card-img-top " alt="..."> -->
        <h4 class="card-title">Save Earth Programmes</h4>

      </div>
    </div>
  </div>
</div>

<div class="container my-3">
  <br />
  <div class=" container flash-container ">
    <% if(error && error.length > 0 ) { %>
    <div class="row d-flex justify-content-between m-2">
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" style="width: 100%;">
            <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    </div>
    <% } %>
    <% if(success && success.length > 0 ) { %>
        <div class="row d-flex justify-content-between m-2">
            <div class="alert alert-success alert-dismissible fade show text-center" role="alert" style="width: 100%;">
                <%= success %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    <% } %>
</div>
  
  <div id="stories" class="mx-2" >
    <div class="row justify-content-between">
      <div class="col-12 col-sm-6 justify-content-start">
        <div>
          <lord-icon
            src="https://cdn.lordicon.com//jvucoldz.json"
            trigger="loop"
            colors="primary:#121331,secondary:#eeca66"
            style="width: 60px; height: 60px"
          >
          </lord-icon
          >&nbsp; S T O R I E S
        </div>
      </div>
      <div class="col-sm-4 d-flex justify-content-center justify-content-sm-end mt-2 mt-sm-0">
        <div>
          <span class="mr-0">
            <a
              class="btn btn-md rounded-2 btn-outline-warning"
              href="/addstory"
              >Add a Story</a
            >
          </span>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <br />
  <div class="row justify-content-center mx-auto">
    <% if( stories.length >0){ %>
      <% for(var i=0; i < 6; i++){ %>
        <div class="col-12 col-lg-6 my-2">
          <div  data-aos="zoom-in-up" data-aos-duration="1300"   class="card border-0 mb-3" id="card">
            <div class="row no-gutters">
              <div class="col-6">
                <img src="<%= stories[i].image.url %>" alt="..." />
              </div>
              <div class="col-6">
                <div class="card-body">
                  <small class="card-subtitle mb-2 text-muted">
                    <%= moment(stories[i].date).fromNow() %> &bullet;
                    <i> <%= stories[i].authorname %></i>
                  </small>
                  <h6 class="card-title" style="max-height:110px;overflow-y:hidden;"><%= stories[i].title %></h6>
                  <p class="card-text"><%= stories[i].body.substring(0, 70) %>...</p>
                  <a
                    href="/causes&stories/<%= stories[i]._id%>/readmore"
                    class="btn btn-outline-warning"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    <% }else{ %>
      <div>You have No stories to see!</div>
    <% } %>
  </div>
</div>
<br>
  <div class="container text-center">
    <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      View All Stories
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div class="row justify-content-center mx-auto">
        <% for(var i=6;i< stories.length;i++){ %>
          <div class="col-12 col-lg-6 my-2">
            <div  data-aos="zoom-in-up" data-aos-duration="1300"   class="card border-0 mb-3" id="card">
              <div class="row no-gutters">
                <div class="col-6">
                  <img src="<%= stories[i].image.url %>" alt="..." />
                </div>
                <div class="col-6">
                  <div class="card-body">
                    <small class="card-subtitle mb-2 text-muted">
                      <%= moment(stories[i].date).fromNow() %> &bullet;
                      <i> <%= stories[i].authorname %></i>
                    </small>
                    <h6 class="card-title" style="max-height:110px;overflow-y:hidden;"><%= stories[i].title %></h6>
                    <p class="card-text"><%= stories[i].body.substring(0, 70) %>...</p>
                    <a
                      href="/causes&stories/<%= stories[i]._id%>/readmore"
                      class="btn btn-outline-warning"
                      >Read More</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%}%>
      </div>
    </div>
  </div>

  </div> 
  <br>
  <br>
  <br>  


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
    offset: 120,
  });
</script>
<%- include("./partials/footer") %>
